<% if @user.errors.any? %>
  <div id="errors_explanation">
    <div class="alert alert-danger">
      The form contain <%= pluralize(@user.errors.count , "error") %>
    </div>
    <ul>
      <%= @user. errors.full_messages.each do |error_msg|%>
      <li><%= error_msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
